.sonya_waiter {
    width: 10%;
    height: 15%;
}

.waiter_container {
    width: 80%; 
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.waiter_note {
    color:rgba(0, 0, 0, 0.150);
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.timer {
  display: grid;
  grid-template-columns: 4.5rem 0.5rem 4.5rem 0.5rem 4.5rem 0.5rem 4.5rem;
  font-size: 3rem;
  justify-items: center;
  justify-content: center;
}

.timer__item {
  position: relative;
}

.timer__item::before {
  content: attr(data-title);
  display: block;
  position: absolute;
  bottom: -0.75rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.875rem;
  color: #424242;
}

@media (max-width: 480px) {
    .sonya_waiter {
        width: 30%;
        height: 60%;
    }
}